<div class="container-fluid">

  <div class="row">

    <div class="col-sm-12">
      <h4 class="text-primary">Filtrar colaboradores cadastrados</h4>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Procure pelo nome" [(ngModel)]="nome" />
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="button" (click)="searchTitle()">Buscar</button>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <h4 class="text-primary">Colaboradores cadastrados</h4>

      <table class="table table-hover">
        <thead class="bg-dark text-white">
          <th>ID</th>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Empresa</th>
          <th>e-mail</th>
          <th>
            <a routerLink="/cadastrar" class="btn btn-sm btn-success">+ Colaborador</a>
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let tutorial of tutorials; let i = index" (click)="setActiveTutorial(tutorial, i)">
            <td>
              <span class="badge badge-danger">
                {{tutorial.id}}
              </span>
            </td>
            <td>{{tutorial.nome}}</td>
            <td>{{tutorial.telefone}}</td>
            <td>{{tutorial.empresa}}</td>
            <td>{{tutorial.email}}</td>
            <td>
              <a class="btn btn-info btn-sm" routerLink="/colaborador/{{ tutorial.id }}">
                Editar registro
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>