<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Digiboard Eletrônica</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="tutorials" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="colaboradores" class="nav-link">Colaboradores</a>
      </li>
      <li class="nav-item">
        <a routerLink="cadastrar" class="nav-link">Cadastrar</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
